<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Accounut List</title>
    </head>
    <body>
      <main>
    <div>
      <h1>Accounts List</h1>
      <table>
        <thead>
         <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
         </tr>
        </thead>
         <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{account.name}}</td>
                <td>{{account.number}}</td>
                <td>{{account.receipts.count}}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
      <li><a href="{% url "category_list" %}">Category List</a></li>
      <li><a href="{% url "create_category" %}">Create Category</a></li>
      <li><a href="{% url "create_account" %}">Create Account</a></li>
    </div>
  </main>
</body>
</html>
