<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Categories</title>
    </head>
    <body>
  <main>
    <div>
      <h1>Categories List</h1>
      <table>
        <thead>
         <tr>
            <th>Name</th>
            <th>Number of receipts</th>
         </tr>
        </thead>
         <tbody>
            {% for category in categories %}
            <tr>
                <td>{{category.name}}</td>
                <td>{{category.receipts.count}}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
      <nav>
        <ul>
       <li><a href="{% url "account_list" %}">Account List</a></li>
       <li><a href="{% url "create_category" %}">Create Category</a></li>
       <li><a href="{% url "create_account" %}">Create Account</a></li>
        </ul>
      </nav>
    </div>
  </main>
</body>
</html>
