<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Account</title>
    </head>
    <body>
  <main>
    <div>
      <h1>Create Account</h1>
      <form method="post">
        {% csrf_token %}
        {{ create_account_form.as_p }}
        <button>Create</button>
      </form>
      <nav>
        <ul>
       <li><a href="{% url "category_list" %}">Category List</a></li>
       <li><a href="{% url "account_list" %}">Account List</a></li>
       <li><a href="{% url "create_category" %}">Create Category</a></li>
        </ul>
      </nav>
    </div>
  </main>
 </body>
</html>
