<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List</title>
    </head>
    <body>
  <main>
      {% if user.is_authenticated %}
      <h1>My Receipts</h1>
      <table>
        <thead>
         <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
         </tr>
        </thead>
         <tbody>
            {% for receipt in receipts.all %}
            <tr>
                <td>{{receipt.vendor}}</td>
                <td>{{receipt.total}}</td>
                <td>{{receipt.tax}}</td>
                <td>{{receipt.date|date:"m/d/y"}}</td>
                <td>{{receipt.category }}</td>
                <td>{{receipt.account}}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
      <nav>
        <ul>
       <li><a href="{% url "category_list" %}">Category List</a></li>
       <li><a href="{% url "account_list" %}">Account List</a></li>
       <li><a href="{% url "create_category" %}">Create Category</a></li>
       <li><a href="{% url "create_account" %}">Create Account</a></li>
        </ul>
      </nav>
      {% endif %}
  </main>
</body>
</html>
